<style>
  table {
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }
</style>

<h1>Zone Configuration</h1>

<p>Welcome <a href="/users/edit"><%= current_user.email %></a>, how are you doing?</p>

<h2>Zones</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @zones.each do |zone| %>
      <tr>
        <td><%= zone.name %></td>
        <td><%= link_to "Show", "/dashboard/records/"+encode(zone.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
